{% comment %} 
<html>
<body>
    <h1><b>Fuck Me</b></h1>
    
<body>
</html> 
{% endcomment %}

{% comment %}
<html>
<body>
    
<body>
</html>
{% endcomment %}

{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://getbootstrap.com/docs/4.1/assets/img/favicons/favicon.ico">
    <title>Avatar's Story 3</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'ppw/bootstrap.min.css' %}" rel="stylesheet">

  <!-- My StyleSheet inspired by Cover by @mdo -->
  <link href="{% static 'ppw/myCSS.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto font-weight-bold">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-index' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-work' %}">My Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-about' %}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'ppw-contact' %}">Contact Me</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Friends
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'ppw-friends' %}">Friend List</a>
                        <a class="dropdown-item" href="{% url 'ppw-form' %}">Add a new Friend</a>
                        </div>
                    </li>
            </ul>
        </div>
        </div>
    </nav>

    {% comment %} <div class="container mt-auto mb-auto align-content-center">

            {% for friend in friends %}
                <h1>Name: {{ friend.name }}</h1>
                <p>
                    Hobby: {{ friend.hobby }}
                    <br>Favourite Food/Drink: {{ friend.favourite_food_drink }}
                    <br>Class Year: {{ friend.class_year }}
                    <br>
                </p>
            {% endfor %}

    </div> {% endcomment %}

    <div class="container mt-auto mb-auto align-content-center">
    <h1 class="mt-auto"><br><br>My Friends List</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Hobby</th>
            <th scope="col">Favourite Food/Drink</th>
            <th scope="col">Class Year</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in friends %}
                <tr>
                <th scope="row">{{ friend.name }}</th>
                <td>{{ friend.hobby }}</td>
                <td>{{ friend.favourite_food_drink }}</td>
                <td>{{ friend.class_year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1><br><br></h1>
    </div>





  <script src="{% static 'ppw/myJquery.js' %}"></script>
  <script src="{% static 'ppw/myPopperJS.js' %}"></script>
  <script src="{% static 'ppw/bootstrap.min.js' %}"></script>



</body>

</html>